@model List<Hospital.Server.Models.DoctorViewModel>
@using Hospital.DatabaseModels

@{
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="search" id="search" class="form-control" placeholder="Search doctor">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
            </div>
        </div>

        <div class="col-lg-6">
            <a href="@Url.Action("AddDoctor", "Administration")" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Doctor</a>
        </div>
    </div>
    </br>
    <div style="height: 800px; overflow: auto">
        <table class="table" id="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Speciality</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var doctor in Model)
            {
                    <tr>
                        <td>@doctor.Name</td>
                        <td>@doctor.SpecialityTitle</td>
                        <td><a href="" class="fa fa-pencil-square "></a></td>
                        <td><a href="" class="fa fa-times"></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
