@{
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <button type="button" class="btn btn-primary"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Register Pasien Baru </button>
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="input-group">
                <input type="search" id="search" class="form-control" placeholder="Cari pasien...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    </br>
    <div style="height: 800px; overflow: auto">
        <table class="table" id="table">
            <thead>
                <tr>
                    <th>Nr. Rekam Medis</th>
                    <th>Tanggal Masuk</th>
                    <th>Nama Pasien</th>
                    <th>Jenis Kelamin</th>
                    <th>Umur / Tanggal Lahir</th>
                    <th>DPJP</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">RM234568</a></td>
                    <td>26 Jan 2015</td>
                    <td>Putri Rahmawati</td>
                    <td>Perempuan</td>
                    <td>28 tahun / 23 Feb 1986</td>
                    <td> <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> sedang menunggu </td>
                    <td>Menunggu diperiksa</td>
                </tr>
                <tr>
                    <td><a href="#">RM234567</a></td>
                    <td>23 Jan 2015</td>
                    <td>Agus Gunawan</td>
                    <td>Laki-laki</td>
                    <td>64 tahun / 08 Feb 1976</td>
                    <td>dr. Silvia Nursalim</td>
                    <td>Rawat inap</td>
                </tr>
                <tr>
                    <td><a href="#">RM234587</a></td>
                    <td>19 Jan 2015</td>
                    <td>Budi Santosa</td>
                    <td>Laki-laki</td>
                    <td>37 tahun / 01 Okt 1950</td>
                    <td>dr. Silvia Nursalim</td>
                    <td>Rawat jalan</td>
                </tr>
                <tr>
                    <td><a href="#">RM234542</a></td>
                    <td>18 Des 2014</td>
                    <td>Bunga Lestari</td>
                    <td>Prempuan</td>
                    <td>29 tahun / 30 Jul 1980</td>
                    <td>dr. Irfan Susilo</td>
                    <td>Pasien pulang</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
