@model List<Hospital.Server.Models.AdminViewModels.PatientViewModel>

@{
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}

<!DOCTYPE html>

<header>
    <h1 style="text-align:center">Registered Users</h1>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6" style="margin-bottom:20px;">
                <div class="input-group">
                    <input type="search" id="search" class="form-control" placeholder="Search result">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                </div>
            </div>
        </div>
            @foreach (var user in Model)
            {
                <div class="row">
                    <div class="col-md-2 col-md-offset-4" style="vertical-align: text-top;">@user.UserName</div>
                    <a href="@Url.Action("AddResult", "Administration", new { id = user.Id })">Add Result</a>
                </div>
            }
    </div>
</section>
